{%extends 'base.html'%}
{% block title%}
Login
{% endblock%}

{% block content%}
<style>
    body
  {
    background-image:url("{{url_for('static',filename='/images/img.png') }}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
    .table_entry
    {
        background-color:rgba(0,0,0,.001);
        color:black;
        padding:5px;
        border:5px grey round;

    }
    label
    {
        font-weight: bold;
        color:black;
    }

    .trans
    {
        background-color:rgba(0,0,0,.05);
        padding:5px;

    }
</style>
<body>
    <div class="container trans">
        <div class="Inside_container">
            <h3>LOGIN FORM FOR ADMIN:</h3>
            <form method="POST" class="form-register">
                {{ form.hidden_tag()}}
                <div class="table_entry">
                <label>Email:</label>
                {{form.Email(class="form-control",placeholder="Email")}}</div>
                <div class="table_entry">
                <label>Role:</label>
                {{form.Role(class="form-control",placeholder="Role")}}</div>
                <div class="table_entry">
                <label>Password:</label>
                {{form.Password(class="form-control",placeholder="Password")}}</div>
                <br>
                {{form.submit(class="btn  btn-block btn-primary")}}
            </form>

        </div>
    </div>
</body>

{% endblock%}
